@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');

body{
    font-family: 'Cinzel', serif;
}

.container{
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors{
    text-align: center;
}

.hex-colors h1{
    font-size: 2rem;
    animation: changecolor 5s infinite alternate;
    font-weight: 700;
}

.hex-colors h2{
    font-size: 2rem;
    margin-top: 15%;
    font-weight: 500;
}

@keyframes changecolor {
    0%{
        color: indigo;
    }
    20%{
        color: blue;
    }
    40%{
        color: green;
    }
    60%{
        color: yellow;
    }
    80%{
        color: orange;
    }
    100%{
        color: red;
    }
}

@media(max-width:480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}