body{
    background : aliceblue;
}

.container{
    width: 95%;
    height: 90vh;
    display: flex;
}

.quotes{
    width: 900px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: black;
    background: linear-gradient(45deg , #ffe031 , #f04579);
    border-radius: 0.5rem;
    box-shadow: 9px 10px 53px -8px rgba(0,0,0,0.9);
}

.btn{
    border: 1px solid black;
    font-size: 1.5rem;
    color: white;
    padding:0.9rem;
    background: linear-gradient(45deg , #ffe031 , #f04579);
    box-shadow: 9px 10px 53px -8px rgba(0,0,0,0.9);
}

.quotes p ,
.quotes h3{
    font-size: 1.5rem;
}

@media (max-width:480px){
    .quotes p,
    .quotes h3{
        font-size: 1rem;
    }
}