body{
    overflow: hidden;
    background: linear-gradient(#f4f4ed , white) no-repeat;
}

.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    width: 370px;
    margin: auto;
    border-radius: 2px;
    padding: 15px 15px 20px 20px;
    box-shadow: 0 1px 10px 5px rgba(0 , 0 , 0 , 0.5);
}

#userInput{
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    background:whitesmoke;
    text-align: right;
    direction: ltr;
    outline: none;
    border: none;
}

.btn{
    width: 24%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: whitesmoke;
}

.btnEqual{
    width: 99%;
    height: 45px;
    border-radius: 1px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: whitesmoke;
}

.btn:hover,
.btnEqual:hover{
    background-color: rgba(128, 128, 128 , 0.1);
}

@media (max-width:480px){
    .btn{
        width: 23.4%;
    }
}

@media (max-width:320px){
    .btn{
        width: 23%;
    }
}


